<!DOCTYPE html>
<html>
  <head>

    <title>GitHub Forms</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
</body>
</html>
